/*fonts
@font-face {
    font-family: Glober;
    src: url('/fonts/Glober-Thin-Free.otf');
}
@font-face {
    font-family: Glober;
    src: url('/fonts/Glober-SemiBold-Free.otf');
    font-weight: bold;
}

*{
  font-family: Glober;
}*/
/*bg*/
body{background-color:#B6B9BD !important;}
#override{
  background-image: url('/img/bg.jpg');
  background-size: cover;
  
}
/*table override*/
#override table, #override tr, #override th, #override td, #override div.fixed-table-container{
  border: 0;
}
/*header*/
.bm-h{
  background-color: #575C6A;
  text-align: center;
  padding: 15px;
}

.bm-h-t{
  color: #fff;
  font-size: 27px;
  margin-left: 10px;
}
/*default navbar override*/
#override .navbar{
  background-color: #1c1818;
  color: #fff;
  font-size: 17px;
}

#override > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse.navbar-inverse-collapse > ul > li.dropdown.open > ul{
  background-color: #cc1543;
  color: #fff;
}
#override > div.navbar.navbar-inverse > div > div.navbar-collapse.navbar-inverse-collapse.collapse.in > ul > li.dropdown.open > ul{
  margin-left: 0;
}
#override > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse.navbar-inverse-collapse > ul > li.dropdown.open > ul > li > a{
  color: #fff;
}
#override > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse.navbar-inverse-collapse > ul > li.dropdown.open > ul > li > a:hover{
  background-color: #aa0321;
}
#override > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse.navbar-inverse-collapse > ul > li.dropdown.open > ul > li > a:focus{
  background-color: #aa0321;
}
/*image for languages*/
.bm-lang-img{
  height: 10px;
}
/*spacer*/
.bm-spacer{
  height: 5vh;
}
/*form override*/
#override .btn-bm{
  background-color: #cc1543;
}

/*well override*/
#override .bm-well{
  border-bottom-color: #7C6062;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding: 10px 2vw;
}

/*loading screen*/
.loading-screen{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #fff;
}
.form2{
  display: none;
}
.form3{
  display: none;
}
.form4{
  display: none;
}
.form5{
  display: none;
}
/*admin css*/
.bm-nav-center{
  padding: 20px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  color: #000;
}
.bm-nav-center:hover{
  background-color: #7C6062;
  color: #fff;
  cursor: pointer; 
  cursor: hand;
  
}
.menu-icon{
  margin: 0 1.5vw;
}
/*error*/
#screen1-error{
  display: none;
}
#screen2-error{
  display: none;
}
#reason_error{
  display: none;
}
#screen3-success{
  display: none;
}
#screen3-fail{
  display: none;
}
/*disabled orderline*/
#disabled-orderline, #disabled-orderline:hover{
  background-color: #ddd;
}
/*admin settings success*/
.success-message{
  display: none;
}
.success-message2{
  display: none;
}
.success-message3{
  display: none;
}
.no_margin{
margin:0px !important;
}
.no_padding{
	margin:0px !important;
}
.err_msg{display:none;color:#FF0000;}
.btn_save_img{border:0;margin:4px 0 !important;}
label.error { color:red;font-size: 13px; }
.search_input{border: 1px solid #CCC !important;border-radius: 15px !important;padding: 8px 35px !important;width:100% !important;}
.form-group.required .control-label:after {
      color: #d00;
      content: " *";
      position: absolute;
      margin-left: 3px;
      /*top:-2px;*/
    }

/*.rr_option:focus{border-bottom:2px solid #FF0000 !important;background-image:none !important;}*/
  #user_datatable_filter input, 
  #wh_data_filter input,
  #list_to_create_RO_filter input {border: 1px solid #CCC !important;border-radius: 15px !important;padding: 8px 35px !important;
background:none !important;}

 #user_datatable_length select,
 #wh_data_length select,
 #list_to_create_RO_length select{border: 1px solid #CCC !important;height: 38px;background: none;}
 #orders_by_customer_id, #Fkcustomerid, #Country, #select-customer-user, #ConsumerFromShipCountry, #page_size, #keywords_by_langid, #select-customer{border: 1px solid #CCC !important;padding:9px 12px;
 background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
 }
/*.LocalSettingsCls, .SettingsNameCls{padding:9px 12px;}*/
.btn-warning{background-color: #CF3A12 !important;}
.move-up-btn{color:#FF5722 !important;}
.body_btm_bdr{border-bottom: 15px solid #7C6062 !important; padding-bottom: 40px !important;}
.body_sub_elem{
  border: 1px solid #ddd; 
  padding: 20px;
}